<main>
    <div class="content-container">
        <div class="container-head">
            <h3>Agendamento de Consultas</h3>
            <span>Modalidade</span>
        </div>
        <div class="container-main">
            <img src="../../../public/img/heart-pulse.svg" width="80px"/>
            <span>Para começar seu agendamento, selecione a modalidade desejada.</span>
        </div>
    </div>
    
</main>

<style>
    main {
        width: 100%;
        height: 100%;
        margin-top: 4.875rem;
    }

    .content-container {
        //display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 0 auto;
        padding: 3rem;
        width: 90%;
        height: 90%;
        border: 5px solid var(--black-600);
        border-bottom: 8px solid var(--black-600);
        border-right: 8px solid var(--black-600);
    }

    .container-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .container-head > h3 {
        display: inline-flex;
        width: 220px;
        font-size: var(--fs-5);
        font-weight: var(--fw-2);
        padding-bottom: 15px;
        border-bottom: 2px solid var(--black-600);
        text-align: center;
    }

    .container-head > span {
        font-size: var(--fs-4);
        padding: 0.5rem 1rem;
        border: 2px solid var(--black-600);
        border-bottom: 4px solid var(--black-600);
        border-right: 4px solid var(--black-600);
    }

    .container-main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 3rem;
    }

    .container-main > img {
        display: none;
    }

    .container-main > span {
        font-size: var(--fs-8);
        font-weight: var(--fw-2);
        text-align: center;
    }

    @media (min-width: 768px)  {
        .container-head {
            flex-direction: row;
            margin: 0;
        }

        .container-head > h3 {
        padding: 0;
        padding-right: 15px;
        border: none;
        border-right: 2px solid var(--black-600);
        text-align: left;
    }


        .container-main > img {
            display: flex;
        }

        .container-main > span {
            text-align: left;
        }
        
    }

    

</style>