main {
  width: 100%;
  padding-top: 4.875rem;
  padding-bottom: 4.875rem;
}

.content-container {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 3rem;
  width: 90%;
  height: 90%;
  border: 5px solid var(--black-600);
  border-bottom: 8px solid var(--black-600);
  border-right: 8px solid var(--black-600);
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .content-container {
    background-image: url("../../../public/img/bg-illustration.svg");
    background-repeat: no-repeat;
    background-position: right 70px;
    background-size: 450px;
  }
}
