---
import Container from "../../layouts/Container.astro";
import Buttons from "../welcome/Buttons/Buttons.astro"
---
<Container paddingBlock="0 2rem">  
  <div class="grid">
    <div class="userSection">
      <img src="../../../public/img/userImgMock.jpg" alt="Imagem do usuário" >
      <h2 class="title">Seja bem vindo, <span>Fulano :)</span></h2>
    </div>
    <Buttons></Buttons>
  </div>
</Container>

<style>  
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    align-items: center;
    
    isolation: isolate;
  }  
  
  .userSection{
    grid-column: span 2;
    
    display: flex;
    gap: var(--fs-1);
    flex-wrap: wrap;
    
    margin-bottom: var(--fs-4)
  }
  
  h2 > span{
    display: block;

    font-weight: var(--fw-2)
  }

  .userSection > img{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid var(--black-600);
    border-bottom: 3px solid var(--black-600);
    border-right: 3px solid var(--black-600);
    border-radius: 1.75rem;
  }

  @media (min-width: 50em){
    .grid{
      grid-template-columns: auto auto 1fr auto;
      gap: 1rem;
    }
  }


</style>