---
import Container from "../../layouts/Container.astro";
import Buttons from "../welcome/Buttons/Buttons.astro"
---
<Container paddingBlock="var(--fs-6)">
  <header>
    <h1 class="title">NomeDoProjeto</h1>
    <button class="gear"></button>
  </header>
  <div class="userSection">
    <img src="../../../public/img/userImgMock.jpg" alt="Imagem do usuário" >
    <h2 class="title">Seja bem vindo, <span>Fulano :)</span></h2>
  </div>
  <Buttons></Buttons>
</Container>

<style>  
  header{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2.25rem;
  }

  .gear{
    width: 2rem;
    height: 2rem;
    border: none;

    background: none;
    background-image: url(../../../public/img/gear.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  h2 > span{
    display: block;

    font-weight: var(--fw-2)
  }

  .userSection{
    display: flex;
    gap: var(--fs-1);
    flex-wrap: wrap;

    margin-bottom: var(--fs-4)
  }

  .userSection > img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
  }


</style>