---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Welcome from '../components/welcome/Welcome.astro';
import { MultistepForm } from '../components/multistep-form/index.jsx';

---
<Layout title="Pantheon">
	<div class="background">
		<Header></Header>
		<Welcome></Welcome>
		<MultistepForm client:load />
	</div>
</Layout>

<style>
.background{
	padding-block: 2rem;
	
	background: url(../../../public/img/bg-1.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* A partir de 800px */
@media (min-width: 50em){
	.background{
		padding-block: 0;
	}
}
</style>