---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/welcome/Welcome.astro';
import Container from '../layouts/Container.astro';
import { MultistepForm } from '../components/multistep-form/index.jsx';
---

<Layout title="Pantheon">
	<div class="background1">

		<Welcome></Welcome>
	</div>
	<div>
		<MultistepForm client:load />
	</div>
<!-- 	<Container background="url(../../../public/img/bg-1.svg)" paddingBlock="var(--fs-6)">
	</Container> -->
</Layout>

<style>
.background1{
	background: url(../../../public/img/bg-1.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
</style>