---
interface Props{
  title?: string;
  content?: Array<string>;
}

const { content = [], title = "Escolha"} = Astro.props;
---

{
content.length > 0 &&
<fieldset>
  <legend class="regular-text">{title}</legend>
  <div>
    <select class="regular-text ">
      <option value="">Selecione uma opção</option>
      {content.map((item) => <option value={item}>{item}</option>)}    
      </select>
  </div>
</fieldset>
}

<style>
  fieldset{
    border: 0;
    isolation: isolate;
  }
  div{
    display: inline-block;
    
    position: relative;

    border: 2px solid currentColor;

    color: var(--black-600)
  }

  div::after{
  content: '';

  position: absolute;
  inset: 0;
  bottom: -4px;
  right: -4px;
  z-index: -1;

  background-color: currentColor;
}
  
  legend{
    padding: .5em .75em;
    border-radius: .25em .25em 0 0;

    background-color: var(--black-600);

    color: var(--white)
  }
  
  select{


    padding: .25em .75em;


      // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;



  }

  option:hover,
  option:focus{
    background-color: black;
    color: white;
  }

  option:checked{
   background: var(--black-300);
   color: var(--white);
}


</style>
