---
import { string } from 'astro/zod';
interface Props {
  background?: string;
  paddingBlock?: string;
}

const { background = "none", paddingBlock = "0" } = Astro.props;
---

<section>
  <div>
    <slot></slot>
  </div>
</section>

<style define:vars={{background, paddingBlock}}>
  section{
    padding-block: var(--paddingBlock);

    background: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
  }
  section > div{
    width: 90%;
    margin-inline: auto;
  }
</style>