---
import "../styles/reset.css";
import "../styles/colors.css";
import "../styles/typography.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1 class="title">Titulo</h1>
		<p class="regular-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quo perspiciatis vero sapiente numquam velit dolor facilis qui, distinctio dolore sed odio placeat ea aspernatur nostrum nemo. Recusandae, consequuntur aliquam.</p>
		<slot />
	</body>
</html>


<style is:global>

</style>
